$font-family: Georgia, sans-serif;
$font-style-normal: normal;

$background-header: #7a95ec;
$text-color-header: #f7c6bf;

$color-active: #f3e0d3;
$color-searchBar: #6a0dad;
$color-button-searchBar: #6a0dad;
$color-button-text: #ffffff;

$card-background-color: #327974;
$card-text-color: rgb(224, 185, 134);
$card-shadow: rgba(0, 0, 0, 20%);

$card-background-circle: rgb(104, 148, 243);

$color-border-form: #b8b8b8;
$color-input-form: $color-border-form;
$input-shadow: rgba(0, 0, 0, 20%);
$color-message: red;

$average-text-color: black;

$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);